{% macro gallery(data) %}
    <div class="gallery" data-gallery>
        {% for item in data %}
            <a class="gallery__item"
                href="{{ item.full.src }}"
                data-pswp-width="{{ item.full.width }}"
                data-pswp-height="{{ item.full.height }}"
            >
                <img
                    src="{{ item.thumb.src }}"
                    width="{{ item.thumb.width }}"
                    height="{{ item.thumb.height }}"
                    alt=""
                    loading="lazy"
                >
            </a>
        {% endfor %}
    </div>
    {# gallery #}
{% endmacro %}
