mixin icon(id, width, height, className)
	svg(
		class=`icon ${!className ? 'icon_'+id : className}`
		viewBox=`0 0 ${width} ${height}`
		style=`aspect-ratio: ${width/10} / ${height/10};`
	)
		use(xlink:href=`assets/media/icons.svg#${id}`)
